<!DOCTYPE html>
<html>
<head>
    <title>Form Example</title>
</head>
<body>
    <h1>Submit Data</h1>
    <p><%= submittedData %></p>
    <form action="/" method="post">
        <label for="data"></label>
        <input type="text" id="data" name="data">
        <button type="submit">Add Product Price</button>
        <br><input type="text" id="data" name="data">
        <button type="submit">Add Product Description</button><br>
    </form>
    
</body>
</html>